*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
  text-align: center;
}

.section-title {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
}

.section-subtitle {
  font-size: 1.4em;
  color: #777777;
  padding: 20px 0 80px 0;
}

.boxes {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.box {
  max-width: 33.333%;
  padding-right: 35px;
}

.box .box-title {
  font-size: 1.8em;
  padding: 25px 0;
}

.box .box-desc {
  font-size: 1.4em;
  color: #777777;
}

header {
  height: 100vh;
  background-image: url(../images/bg.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
}

.navigation {
  width: 100%;
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation .logo {
  color: #FDD135;
  font-size: 2.6em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.navigation .nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.4em;
  transition: all .3s;
}

.navigation .nav-item a:hover {
  color: #FDD135;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation .nav {
  list-style: none;
  padding-top: 12px;
}

.navigation .nav-item {
  display: inline-block;
  padding-right: 40px;
}

.navigation .nav-item:last-child {
  padding-right: 0;
}

.splash {
  padding-top: 205px;
}

.splash .page-subtitle {
  padding-bottom: 50px;
  font-size: 4em;
}

.splash .page-title {
  padding-bottom: 50px;
  font-size: 75px;
  text-transform: uppercase;
}

.splash .btn {
  color: #ffffff;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #FDD135;
  padding: 30px 65px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
}

.splash .btn:hover {
  color: #FDD135;
  background-color: #ffffff;
}

.fas {
  height: 60px;
  width: 60px;
  font-size: 30px;
  line-height: 60px;
  color: #FDD135;
  border: 2px solid #FDD135;
  border-radius: 50%;
}

.portfolio {
  background-color: #e7e7e7;
}

.portfolio .box {
  margin-bottom: 50px;
}

.portfolio .box-title {
  padding: 25px 0 0 0;
}

.portfolio .box-description {
  background-color: #ffffff;
  width: 290px;
}

.portfolio .box-img {
  overflow: hidden;
  height: 300px;
  width: 290px;
}

.portfolio .box-img a:hover img {
  transform: scale(1.2);
}

.portfolio .box-img img {
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.portfolio .box-desc {
  padding-bottom: 30px;
}

footer {
  height: 120px;
  position: relative;
}

footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

footer ul {
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-positive: 2;
      flex-grow: 2;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

footer ul li {
  font-size: 0;
  padding: 0 5px 0 0;
}

footer ul li a {
  display: inline-block;
  transition: all .5s;
}

footer ul li a:hover {
  transform: scale(1.2);
}

footer p {
  -ms-flex-positive: 1;
      flex-grow: 1;
  font-size: 1.4em;
  color: #777777;
}

.footer-icon {
  font-size: 20px;
  color: #eeeeee;
  background-color: #000000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.menu-wrap {
  position: fixed;
  top: 0;
  left: 90%;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: rgba(253, 209, 53, 0.85);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: all .4s;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(253, 209, 53, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transform: scale(0);
  transition: all .4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/*# sourceMappingURL=style.css.map */