footer {
    height: 120px;
    position: relative;

    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    ul {
        align-self: center;
        flex-grow: 2;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            font-size: 0;
            padding: 0 5px 0 0;

            a {
                display: inline-block;
                transition: all .5s;
            }

            a:hover {
                transform: scale(1.2);
            }
        }
    }

    p {
        flex-grow: 1;
        font-size: 1.4em;
        color: $color-text;
    }

}

.footer-icon {
    font-size: 20px;
    color: #eeeeee;
    background-color: #000000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}