header {
    height: 100vh;
    background-image: url(../images/bg.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: $color-secoundary;
    text-align: center;
}

.navigation {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo {
        color: $color-third;
        font-size: 2.6em;
        text-decoration: none;
        letter-spacing: 0.1em;
    }

    .nav-item a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-secoundary;
        font-size: 1.4em;
        transition: all .3s;
    }

    .nav-item a:hover {
        color: $color-third;
    }

    a:last-child {
        padding-right: 0;
    }

    .nav {
        list-style: none;
        padding-top: 12px;
    }

    .nav-item {
        display: inline-block;
        padding-right: 40px;
    }

    .nav-item:last-child {
        padding-right: 0;
    }
}

.splash {
    padding-top: 205px;

    .page-subtitle {
        padding-bottom: 50px;
        font-size: 4em;
    }

    .page-title {
        padding-bottom: 50px;
        font-size: 75px;
        text-transform: uppercase;
    }

    .btn {
        color: $color-secoundary;
        font-size: 1.6em;
        text-transform: uppercase;
        background-color: $color-third;
        padding: 30px 65px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
    }

    .btn:hover {
        color: $color-third;
        background-color: $color-secoundary;
    }
}