.portfolio {
    background-color: $portfolio-bg;

    .box {
        margin-bottom: 50px;
    }

    .box-title {
        padding: 25px 0 0 0;
    }

    .box-description {
        background-color: $color-secoundary;
        width: 290px;
    }

    .box-img {
        overflow: hidden;
        height: 300px;
        width: 290px;

        a:hover img {
            transform: scale(1.2);
        }

        img {
            object-fit: none;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

    }

    .box-desc {
        padding-bottom: 30px;
    }
}