    .fas {
        height: 60px;
        width: 60px;
        font-size: 30px;
        line-height: 60px;
        color: $color-third;
        border: 2px solid $color-third;
        border-radius: 50%;
    }